@import url("https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap");

@import "tailwindcss";

@theme {
	--font-sans: "Satoshi", ui-sans-serif, system-ui, sans-serif;

	--color-primary-accent: #555439;
	--color-secondary-accent: #9a7844;
	--color-text-special: #9f9c6c;
	--color-text-primary: #1e1e1e;
	--color-bg-primary: #f9f8eb;
	--color-bg-secondary: #d6cca8;
}

body {
	font-family: var(--font-sans);
	@apply bg-bg-primary text-text-primary;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-primary-accent);
}
